html {
    scroll-behavior: smooth;
}


/* Estilos para el texto */
body.custom-body {
    background-image: url('images/background_2.png');
    /* font-family: "Pavanam", sans-serif; */
    font-family: "The Girl Next Door", serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 50px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: 18px;
    color: #555555;
}





/* PORTADA */

header {
    background-size: cover;
    background-image: url('images/header_6.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
}

.scroll-reveal {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.8s ease-out;
}

/* Cuando la clase "show" es añadida, las flores aparecerán */
.scroll-reveal.show {
    opacity: 1;
}

.icon img {
    max-width: 25%;
}

.icon_left {
    float: left;
    transform: rotate(15deg);
}

/* Ubicación en el margen derecho */
.icon_right {
    float: right;
}


/* 
nav {
    position: sticky;
    top: 0;
    z-index: 1000;
}

a:hover {
    color: #8f746c;
}

nav::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 5px;
    background-color: #97a086;
    animation: aparecerLinea 10s forwards;
}

@keyframes aparecerLinea {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
} */



/* PLAY */

/* #play-button {
    width: 60px;
    height: 60px;
    background-color: #eae5e2;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
}

#play-button:focus {
    outline: none;
}

#play-button:hover {
    background-color: #fbc778;
}

#play-button::before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 0 12px 20px;
    border-color: transparent transparent transparent white;
    transform: translateX(2px);
}

audio {
    display: none;
} */



/* BIENVENIDOS */

#bienvenidos {
    text-align: center;
}


#bienvenidos h1 {
    color: #3f4a2c;
    font-family: "The Girl Next Door", serif;
    font-weight: 400;
    font-size: 35px;
    letter-spacing: 2px;
}

.bienvenidos-texto p {
    text-align: center;
    padding: 15px;
    font-family: "The Girl Next Door", serif;
    font-size: 25px;
}

.bienvenidos-texto img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 10px;
}

.cuenta-regresiva {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: #c0a28f;
    letter-spacing: 1px;
}

#cuenta-atras {
    display: flex;
    align-items: center;
    /* gap: 15px; */
}

.tiempo {
    text-align: center;
    font-weight: bold;
    color: #4A4A4A;
    font-size: 40px;
    margin: 0 10px;
}

.unidad {
    font-size: 1rem;
    color: #c0a28f; /* Mantiene la paleta elegante */
}

.barra {
    font-size: 2rem;
    color: #a19282; /* Suaviza la transición entre los números */
    margin: 0 10px;
}


/* LOCATION */

#general-information {
    text-align: center;
    padding: 20px;
}

#general-information h1 {
    color: #3f4a2c;
    /* font-family: "Meow Script", cursive; */
    font-weight: 400;
    font-size: 45px;
    letter-spacing: 2px;
}

/* #general-information img {
    max-width: 60%;
} */

.collage-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 30px; */
    flex-wrap: wrap;
    position: relative;
    padding: 20px;
}

.finca-item {
    position: relative;
    width: 250px;
    /* Tamaño controlado */
    /* transform: rotate(-3deg); */
    /* Ligera inclinación para efecto collage */
}

/* .finca-item:nth-child(even) {
    transform: rotate(3deg);
} */

.collage-img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.2));
    clip-path: polygon(3% 0%, 97% 0%, 100% 3%, 100% 97%, 97% 100%, 3% 100%, 0% 97%, 0% 3%);
}

.texto-tarjeta {
    position: absolute;
    bottom: -60px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(131, 141, 130, 0.94);
    padding: 5px 5px;
    font-size: 13px;
    border-radius: 8px;
    text-align: center;
    color: #f9e7db;
    width: 80%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    border: 2px solid rgba(90, 74, 66, 0.5);
}

.texto-tarjeta p {
    margin: 0;
}


.boton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #848c7f;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}

.information-texto p {
    color: #a3998e;
    padding: 10px;
    margin: 10px;
}


/* Google Maps */
#mapDiv {
    height: 300px;
    max-width: 90%;
    margin: 20px auto 40px;
}




/* ITINERARIO */

.timeline {
    position: relative;
    margin: 50px 0;
    padding-left: 40px;
    border-left: 3px solid #3f4a2c;
}

.itinerario img {
    max-width: 90%;
}

/* @media only screen and (max-width: 600px) {
    .timeline {
        position: relative;
        margin: 50px 0;
        padding-left: 40px;
    }
} */

.event {
    position: relative;
    padding: 20px 0;
    display: flex;
    align-items: center;
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.5s ease-out;
}

.event:before {
    content: '';
    position: absolute;
    left: -15px;
    top: 20px;
    width: 12px;
    height: 12px;
    background-color: #b19f94;
    border-radius: 50%;
}

.event .time {
    width: 100px;
}


.event .icon img {
    max-width: 25%;
}

.event .description {
    font-size: 0.8em;
    color: #4c4b4b;
}

.event .hidden {
    font-size: 0.8em;
    color: #35281d;
}

.event .description:hover {
    color: #35281d;
    transition: color 0.3s ease;
}

/* Animation logic */
.show {
    opacity: 1;
    transform: translateY(0);
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


.element-crew {
    max-width: 3%;
}

.element {
    max-width: 4%;
}





/* INFORMACIÓN DE INTERÉS */

#info_interes {
    text-align: center;
    padding: 20px;
}

/* @media only screen and (max-width: 600px) {
    #info_interes {
        background-size: auto;
    }
} */

#info_interes h1 {
    color: #3f4a2c;
    /* font-family: "Meow Script", cursive; */
    font-weight: 400;
    font-size: 45px;
    letter-spacing: 2px;
}

#info_interes img {
    max-width: 15%;
}


.hotel-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.hotel-link {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: #007bff;
    transition: color 0.3s ease;
}

.hotel-link:hover {
    color: #0056b3;
}

.boton-telefono button {
    background-color: #a2948b;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.boton-telefono button:hover {
    background-color: #753131;
}

.contacto-novios {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 10px;
}

.contacto {
    text-align: left;
    background: #f7f1ea;
    padding: 10px 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    border: 2px solid #d8c8b7;
    width: 200px;
}

/* .boton-telefono button {
    background: #d8c8b7;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.boton-telefono button:hover {
    background: #c4b4a5;
} */




/* ASISTENCIA */

#asistencia {
    text-align: center;
    padding: 40px 20px;
    /* background-color: #e6d7b3; */
}

#asistencia h1 {
    color: #3f4a2c;
    /* font-family: "Meow Script", cursive; */
    font-weight: 400;
    font-size: 45px;
    letter-spacing: 2px;
}

#asistencia h3 {
    font-size: 18px;
    margin: 20px;
}

#asistencia p {
    color: #555555;
    text-align: center;
    font-size: 12px;
}

/* Formulario */
.form-container-asist {
    background: #09390573;
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 450px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    font-size: 16px;
    color: #333333;
    margin-top: 8px;
    font-weight: 600;
}

input[type="text"],
input[type="tel"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #cccccc;
    border-radius: 8px;
    font-size: 16px;
    color: #333333;
    transition: border-color 0.3s ease;
    margin-bottom: 5px;
}

input[type="text"]:focus,
input[type="tel"]:focus {
    border-color: #0056b3;
    outline: none;
}

input::placeholder {
    color: #888888;
}

/* Radio buttons */
.checkbox-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

input[type="radio"] {
    margin-right: 8px;
}

label[for="acompanadoNo"],
label[for="acompanadoSi"] {
    font-size: 14px;
    color: #555555;
    margin-bottom: 5px;
}

label[for="busSi"],
label[for="busNo"] {
    font-size: 14px;
    color: #555555;
    margin-bottom: 5px;
}

#popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    z-index: 1000;
    width: max-content;
}

@media only screen and (max-width: 600px) {
    #popup {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
        background-color: white;
        z-index: 1000;
        width: 350px;
    }
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    width: 20px;
    /* Ajusta el tamaño según sea necesario */
    height: 20px;
    /* Ajusta el tamaño según sea necesario */
}

.modal {
    display: none;
    /* Inicialmente oculto */
    position: fixed;
    top: 50%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    /* Fondo oscuro semitransparente */
    z-index: 1;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
}

.add-button,
.save-button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.add-button:hover,
.save-button:hover {
    background-color: black;
}

*/

/* Botón de enviar: Estilo Business */
button#submit {
    background-color: black;
    /* Azul corporativo */
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding: 12px 40px;
    border: none;
    border-radius: 50px;
    /* Bordes redondeados y modernos */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Sombra sutil */
    cursor: pointer;
    transition: all 0.3s ease;
}

button#submit:hover {
    background-color: black;
    /* Azul más oscuro para hover */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    /* Intensifica la sombra */
    transform: translateY(-2px);
    /* Ligero levantamiento al hacer hover */
}

button#submit:active {
    background-color: #0e3d80;
    /* Azul aún más oscuro al hacer clic */
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    /* Reduce la sombra */
    transform: translateY(0);
    /* Elimina el levantamiento */
}

/* Responsivo */
@media only screen and (max-width: 600px) {
    .form-container-asist {
        padding: 20px;
    }
}


/* MÚSICA */

#musica {
    text-align: center;
    padding: 20px;
}

#musica h1 {
    color: #3f4a2c;
    /* font-family: "Meow Script", cursive; */
    font-weight: 400;
    font-size: 45px;
    letter-spacing: 2px;
}

.musica-texto p {
    text-align: center;
    padding: 15px;
}


/* REGALOS */

#regalos {
    text-align: center;
    padding: 20px;
}

#regalos h1 {
    color: #3f4a2c;
    /* font-family: "Meow Script", cursive; */
    font-weight: 400;
    font-size: 45px;
    letter-spacing: 2px;
}

.regalos-texto p {
    text-align: center;
    padding: 15px;
}

.plain-text {
    font-size: inherit;
    padding: 0;
    margin: 0;
    text-align: center;
}


/* FOOTER */
.pre-footer {
    max-width: 100%;
    mask-image: linear-gradient(to top, rgb(0, 0, 0) 90%, rgba(0, 0, 0, 0) 100%);
}


footer {
    background-color: #3f4a2c;
    padding: 10px;
    color: white;
}

.footer-content p {
    text-align: center;
    font-weight: 200;
}